* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 400px;
    height: 300px;
    border: 2px dashed #999;
    margin: 2rem auto;
    background: #f0f8ff;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.box {
    width: 150px;
    height: 100px;
    background: #3498db;
    color: white;
    
}

.box-one {
    position: relative;
    top: 60px;
    left: 80px;
}

.box-two {
    position: absolute;
    top: 60px;
    left: 80px;
}

.card {
    position: relative;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;

}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    font-size: 1.2rem;
    cursor: pointer;

}

.responsive-card {
    box-sizing: border-box;
    width: 90%;
    margin: 20px auto;
    padding: 15px;
    background-color: #ffeaa7;
    border: 40x solid #fdcb6e;
    color: #d35400;
    transition: all 0.3s ease;
}

@media (min-width: 600px) {
    .responsive-card {
        width: 70%;
        padding: 30px;
        background-color: #81ecec;
        border-color: #00cec9;
        color: #2c3e50;
    }
}

@media (min-width: 1024px) {
    .responsive-card {
        width: 50%;
        padding: 50px;
        background-color: #a29bfe;
        border-color: #6c5ce7;
        color: #ffffff;
        font-size: 1.2rem;
    }
}

.gallery {
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    background-color: #f4f4f4;
}

.card img {
    width: 100%;
    display: block;
}

.card {
    background: white;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
    padding-bottom: 10px;
    flex: 1 1 100%
}

@media (min-width: 600px) {
    .card {
        flex: 1 1 calc(50% - 20px);
        background-color: #d1f2eb;
    }
}

@media (min-width: 1024px) {
    .card {
        flex: 1 1 calc(33.333% - 20px);
        background-color: #d6eaf8;
    }
}


.grid-container {
    display: grid;
    gap: 20px;
    padding: 20px;
    grid-template-columns: 1fr;
}

@media (min-width: 600px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

.fab {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
    background-color: blue;
    
}

.card-container {
    position: relative;
    height: 300px;
}

.bg-shape {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: green;
    z-index: 1;
}

.card-container img {
    width: 400px;
    height: auto;
    position: absolute;
    margin-top: 50px;
    margin-left: 50px; 
    z-index: 2;
}